<div class="banner" style="background-image: url('<%= image_path "cocktail.jpg" %>')">
  <h1>Cocktails</h1>
</div>
  <div class="container" >
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-3">
        <div class="card-cocktail my-5">
          <%= image_tag 'margarita.jpg' %>
          <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
          </div>
        </div>
       <% end %>
    </div>
    <%= link_to 'Mix a Cocktail', new_cocktail_path, class: 'btn btn-primary' %>
  </div>



