.banner {
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
    font-size: 48px;
  }
}
